{% extends 'base.html' %}
{% block title %}{{ _('Add') }} {{ _('List') }}{% endblock %}
{% block content %}
<h2>{{ _('Add') }} {{ _('List') }}</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    {{ form.list_type() }}
    <button class="btn btn-primary" type="submit">{{ _('Add') }}</button>
    <a class="btn btn-secondary" href="{{ url_for('auth.index') }}">{{ _('Close') }}</a>
</form>
{% endblock %}
