{% extends 'base.html' %}
{% block title %}{{ _('Edit') }} {{ _('List') }}{% endblock %}
{% block content %}
<h2>{{ _('Edit') }} {{ _('List') }}</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label">{{ _('Name') }}</label>
        {{ form.name(class="form-control") }}
    </div>
    <button class="btn btn-primary" type="submit">{{ _('Save') }}</button>
    <a class="btn btn-secondary" href="{{ url_for('lists.list_items', list_id=list.id) }}">{{ _('Close') }}</a>
{% endblock %}
